.root {
  -fx-background-image: url(hej.jpg);
  -fx-background-repeat: no-repeat;
  -fx-background-size: cover;
}

.root, .root * {
  -fx-font-size: 14px;
  -fx-font-family: sans-serif;
}

.button {
  -fx-text-fill: #FFF;
  -fx-background-color: #132287;
}

.button:hover, .button:active, .button:focus {
  -fx-background-color: #8284e0;
}

.label {
  -fx-text-fill: #2465ab;
}

.control-field {
  -fx-border-color: #4f51c4;
  -fx-background-image: #ffffff;
  -fx-border-radius: 5;
  -fx-text-fill: #2465ab;
  -fx-prompt-text-fill: #66b2b2;
}

.table-view {
  -fx-border-color: #4f51c4;
}

.table-view .column-header {
  -fx-background-color: #4f51c4;
  -fx-text-fill: white;
}
.table-view .column-header .label {
  -fx-text-fill: white;
  -fx-alignment: center-left;
  -fx-opacity: 1.0;
}

.table-view .table-row-cell {
  -fx-border-color: #b2d8d8;
  -fx-table-cell-border-color:#b2d8d8;
}
