
.root{
    
    -fx-background-color: rgba(153,51,255,0.6);    
}

.table-view {

      -fx-background-color: rgba(153,51,255,0.6);
}


.table-row-cell {
    -fx-background-color: rgba(0,0,0,0.7);
    -fx-font-weight:bold;
